{
  "CustomSettings": {
    "DemoSiteUrl": "https://tenant.sharepoint.com/sites/pnpcoresdkdemo",
    "UserPrincipalName": "transform@tenant.onmicrosoft.com",
    "Password": "password"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Debug"
    }
  }
}