@page "/contentTypeInfo"
@attribute [Authorize]
@using PnP.Core.Model.SharePoint;
@using PnP.Core.QueryModel;
@inject IMyPnPContextFactory pnpContextFactory

<h1>SharePoint Content Types info</h1>

@if (isLoading || contentTypes == null)
{
    <p><em>Loading Content Types...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ct in contentTypes)
            {
                <tr>
                    <td>@ct.Name</td>
                    <td>@ct.Id</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<IContentType> contentTypes;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        using (var ctx = await pnpContextFactory.GetContextAsync())
        {
            contentTypes = await ctx.Web.ContentTypes.QueryProperties(p => p.Id, p => p.Name).ToListAsync();
            isLoading = false;
        }
    }
}
