@page "/listInfo"
@attribute [Authorize]
@using PnP.Core.Model.SharePoint;
@using PnP.Core.Model;
@using PnP.Core.QueryModel;
@inject IMyPnPContextFactory pnpContextFactory

<h1>SharePoint Lists info</h1>

@if (isLoading || lists == null)
{
    <p><em>Loading lists...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>List</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var list in lists)
            {
                <tr>
                    <td>@list.Title</td>
                    <td>@list.Id</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<IList> lists;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        using (var ctx = await pnpContextFactory.GetContextAsync())
        {
            var web = await ctx.Web.GetAsync(w => w.Lists, w => w.Lists.QueryProperties(p => p.Title, p => p.Id));
            lists = web.Lists.AsRequested().ToList();
            isLoading = false;
        }
    }
}
