@import '~office-ui-fabric-react/dist/sass/References.scss';

.pnPCoreSdkBanner {
  background-color: #B71C1C;
  @include ms-fontColor-white;

  a {
    @include ms-fontColor-white;
  }

  .banner {
    padding: 20px;
    text-align: center;
  }
}
