@model Demo.ASPNetCore.Models.SiteInfoViewModel
@{
    ViewData["Title"] = "Site Info";
}

<div class="text-center">
    <h1 class="display-4">Site Title: @Model.Title</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Description</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td>Master Page Url</td>
                <td>@Model.MasterUrl</td>
            </tr>
        </tbody>
    </table>

</div>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ListInfo">List Info</a>
