<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="All Rules with default severity" Description="All Rules with default severity. Rules with IsEnabledByDefault = false are disabled." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.FxCopAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.FxCopAnalyzers">
    <Rule Id="CA1000" Action="Warning" />
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1003" Action="None" />
    <Rule Id="CA1008" Action="None" />
    <Rule Id="CA1010" Action="Warning" />
    <Rule Id="CA1012" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1017" Action="None" />
    <Rule Id="CA1018" Action="Warning" />
    <Rule Id="CA1019" Action="None" />
    <Rule Id="CA1024" Action="None" />
    <Rule Id="CA1027" Action="None" />
    <Rule Id="CA1028" Action="Warning" />
    <Rule Id="CA1030" Action="Warning" />
    <Rule Id="CA1031" Action="Warning" />
    <Rule Id="CA1032" Action="Warning" />
    <Rule Id="CA1033" Action="None" />
    <Rule Id="CA1034" Action="Warning" />
    <Rule Id="CA1036" Action="Warning" />
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1041" Action="Warning" />
    <Rule Id="CA1043" Action="Warning" />
    <Rule Id="CA1044" Action="Warning" />
    <Rule Id="CA1050" Action="None" />
    <Rule Id="CA1051" Action="Warning" />
    <Rule Id="CA1052" Action="Warning" />
    <Rule Id="CA1054" Action="Warning" />
    <Rule Id="CA1055" Action="Warning" />
    <Rule Id="CA1056" Action="Warning" />
    <Rule Id="CA1058" Action="Warning" />
    <Rule Id="CA1060" Action="None" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1062" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1064" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1066" Action="Warning" />
    <Rule Id="CA1067" Action="Warning" />
    <Rule Id="CA1068" Action="Warning" />
    <Rule Id="CA1200" Action="Warning" />
    <Rule Id="CA1303" Action="Warning" />
    <Rule Id="CA1304" Action="Warning" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1307" Action="Warning" />
    <Rule Id="CA1308" Action="Warning" />
    <Rule Id="CA1309" Action="None" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1501" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1505" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1507" Action="Warning" />
    <Rule Id="CA1508" Action="None" />
    <Rule Id="CA1509" Action="None" />
    <Rule Id="CA1707" Action="Warning" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1710" Action="Warning" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1712" Action="Warning" />
    <Rule Id="CA1714" Action="Warning" />
    <Rule Id="CA1715" Action="Warning" />
    <Rule Id="CA1716" Action="Warning" />
    <Rule Id="CA1717" Action="Warning" />
    <Rule Id="CA1720" Action="Warning" />
    <Rule Id="CA1721" Action="Warning" />
    <Rule Id="CA1724" Action="Warning" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1801" Action="Warning" />
    <Rule Id="CA1802" Action="Warning" />
    <Rule Id="CA1806" Action="Warning" />
    <Rule Id="CA1810" Action="Warning" />
    <Rule Id="CA1812" Action="Warning" />
    <Rule Id="CA1813" Action="None" />
    <Rule Id="CA1814" Action="Warning" />
    <Rule Id="CA1815" Action="Warning" />
    <Rule Id="CA1816" Action="Warning" />
    <Rule Id="CA1819" Action="Warning" />
    <Rule Id="CA1820" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1822" Action="Warning" />
    <Rule Id="CA1823" Action="Warning" />
    <Rule Id="CA1824" Action="Warning" />
    <Rule Id="CA1825" Action="Warning" />
    <Rule Id="CA1826" Action="Warning" />
    <Rule Id="CA1827" Action="Warning" />
    <Rule Id="CA1828" Action="Warning" />
    <Rule Id="CA1829" Action="Warning" />
    <Rule Id="CA2000" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2007" Action="Warning" />
    <Rule Id="CA2008" Action="Warning" />
    <Rule Id="CA2009" Action="Warning" />
    <Rule Id="CA2010" Action="Warning" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2119" Action="Warning" />
    <Rule Id="CA2153" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2208" Action="Warning" />
    <Rule Id="CA2211" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2216" Action="Warning" />
    <Rule Id="CA2217" Action="None" />
    <Rule Id="CA2218" Action="Warning" />
    <Rule Id="CA2219" Action="Warning" />
    <Rule Id="CA2224" Action="Warning" />
    <Rule Id="CA2225" Action="Warning" />
    <Rule Id="CA2226" Action="Warning" />
    <Rule Id="CA2227" Action="Warning" />
    <Rule Id="CA2229" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2234" Action="Warning" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2237" Action="Warning" />
    <Rule Id="CA2241" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
    <Rule Id="CA2243" Action="Warning" />
    <Rule Id="CA2244" Action="Warning" />
    <Rule Id="CA2245" Action="Warning" />
    <Rule Id="CA2246" Action="Warning" />
    <Rule Id="CA2300" Action="None" />
    <Rule Id="CA2301" Action="None" />
    <Rule Id="CA2302" Action="None" />
    <Rule Id="CA2305" Action="None" />
    <Rule Id="CA2310" Action="None" />
    <Rule Id="CA2311" Action="None" />
    <Rule Id="CA2312" Action="None" />
    <Rule Id="CA2315" Action="None" />
    <Rule Id="CA2321" Action="None" />
    <Rule Id="CA2322" Action="None" />
    <Rule Id="CA2326" Action="None" />
    <Rule Id="CA2327" Action="None" />
    <Rule Id="CA2328" Action="None" />
    <Rule Id="CA2329" Action="None" />
    <Rule Id="CA2330" Action="None" />
    <Rule Id="CA3001" Action="None" />
    <Rule Id="CA3002" Action="None" />
    <Rule Id="CA3003" Action="None" />
    <Rule Id="CA3004" Action="None" />
    <Rule Id="CA3005" Action="None" />
    <Rule Id="CA3006" Action="None" />
    <Rule Id="CA3007" Action="None" />
    <Rule Id="CA3008" Action="None" />
    <Rule Id="CA3009" Action="None" />
    <Rule Id="CA3010" Action="None" />
    <Rule Id="CA3011" Action="None" />
    <Rule Id="CA3012" Action="None" />
    <Rule Id="CA3061" Action="Warning" />
    <Rule Id="CA3075" Action="Warning" />
    <Rule Id="CA3076" Action="Warning" />
    <Rule Id="CA3077" Action="Warning" />
    <Rule Id="CA3147" Action="Warning" />
    <Rule Id="CA5350" Action="Warning" />
    <Rule Id="CA5351" Action="Warning" />
    <Rule Id="CA5358" Action="None" />
    <Rule Id="CA5359" Action="Warning" />
    <Rule Id="CA5360" Action="Warning" />
    <Rule Id="CA5361" Action="Warning" />
    <Rule Id="CA5362" Action="None" />
    <Rule Id="CA5363" Action="Warning" />
    <Rule Id="CA5364" Action="Warning" />
    <Rule Id="CA5365" Action="Warning" />
    <Rule Id="CA5366" Action="Warning" />
    <Rule Id="CA5367" Action="None" />
    <Rule Id="CA5368" Action="Warning" />
    <Rule Id="CA5369" Action="Warning" />
    <Rule Id="CA5370" Action="Warning" />
    <Rule Id="CA5371" Action="Warning" />
    <Rule Id="CA5372" Action="Warning" />
    <Rule Id="CA5373" Action="Warning" />
    <Rule Id="CA5374" Action="Warning" />
    <Rule Id="CA5375" Action="None" />
    <Rule Id="CA5376" Action="Warning" />
    <Rule Id="CA5377" Action="Warning" />
    <Rule Id="CA5378" Action="Warning" />
    <Rule Id="CA5379" Action="Warning" />
    <Rule Id="CA5380" Action="Warning" />
    <Rule Id="CA5381" Action="Warning" />
    <Rule Id="CA5382" Action="None" />
    <Rule Id="CA5383" Action="None" />
    <Rule Id="CA5384" Action="Warning" />
    <Rule Id="CA5385" Action="Warning" />
    <Rule Id="CA5386" Action="None" />
    <Rule Id="CA5387" Action="None" />
    <Rule Id="CA5388" Action="None" />
    <Rule Id="CA5389" Action="None" />
    <Rule Id="CA5390" Action="None" />
    <Rule Id="CA5391" Action="None" />
    <Rule Id="CA5392" Action="None" />
    <Rule Id="CA5393" Action="None" />
    <Rule Id="CA5394" Action="None" />
    <Rule Id="CA5395" Action="None" />
    <Rule Id="CA5396" Action="None" />
    <Rule Id="CA5397" Action="Warning" />
    <Rule Id="CA5398" Action="None" />
    <Rule Id="CA5399" Action="None" />
    <Rule Id="CA5400" Action="None" />
    <Rule Id="CA5401" Action="None" />
    <Rule Id="CA5402" Action="None" />
    <Rule Id="CA5403" Action="None" />
    <Rule Id="CA9999" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1305" Action="None" />
  </Rules>
</RuleSet>