@page "/siteInfo"
@attribute [Authorize]
@using PnP.Core.Model.SharePoint;
@using PnP.Core.Services;
@inject IMyPnPContextFactory pnpContextFactory

<h1>SharePoint Site Info</h1>

@if (isLoading)
{
    <p><em>Loading SharePoint site data...</em></p>
}
else
{
    <h1>@web.Title</h1>
    <h3>@web.Description</h3>
}

@code {
    private IWeb web;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        using (var ctx = await pnpContextFactory.GetContextAsync())
        {
            web = await ctx.Web.GetAsync(p=>p.Title,p=>p.Description);
            isLoading = false;
        }
    }
}
